name: Release from tag

on:
  push:
    tags:
      - 'v*'          # pl. v1.0.0, v2.3.4

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: google-github-actions/release-please-action@v4
        with:
          release-type: node
          package-name: apapong
          tag: ${{ github.ref_name }}
          version-file: package.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
